@font-face {
  font-family: "SquaredDisplay";
  src: url(../assets/fonts/squared_display/SquaredDisplay.ttf) format("truetype");
}

@font-face {
  font-family: "Tesla";
  src: url(../assets/fonts/tesla/tesla.ttf) format("truetype");
}

body{
	background: url(../assets/images/pexels-photo-211929_1080p.jpg);
	/*background-color: #cccccc;*/
	border : 5px;
	padding : 5px;}

#gametitle{
	text-align: center;
	color: white;
	font-size : 400%;
	padding: 0;
	margin: 0;
	visibility: hidden;
}

#game-div{
	width: 50%;
	margin: auto;
}


/*h1 { font-family: "SquaredDisplay", sans-serif }*/
h1 { font-family: "Tesla", sans-serif }